.CityTable .ReactTable {
    font-size: 0.9em;
}

.CityTable .ReactTable .rt-table {
    flex: auto 1;
}

.CityTable .ReactTable .rt-thead {
    overflow-y: scroll;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.CityTable .ReactTable .rt-head .rt-tr {
    /* text-align: left; */
}

.CityTable .ReactTable .right-cell {
    text-align: right;
}

.CityTable .ReactTable .rt-th, .CityTable .ReactTable .rt-td {
    white-space: normal;
}
