.CityMap {
	max-width: 600px;
}

.CityMap .vx-geo-mercator {
	cursor: pointer;
	transition: fill 400ms, opacity 400ms;
	opacity: 0.8;
}

.CityMap .vx-geo-mercator:hover {
	opacity: 1;
}

#mapTooltip {
	font-family: 'Barlow', sans-serif;
	font-size: 0.9em;
	opacity: 0.8;
}

#mapTooltip .tooltip.top {
	margin-top: 50px;
}
